@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root {
  --font-heading: 'Roboto', sans-serif;
  --font-text: 'Poppins', sans-serif;


  --color-black: #000000;
  --color-grey: #696969;
  --color-white: #FFFFFF;
  --color-lightorange: #F0AC4D;
  --color-orange: #FF8C00;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}